#result-template {
  display: none;
}

.portfolio-item {
  padding: 50px;
}

.bar-modals {
  display: none;
}

#portfolio {
  justify-content: center;
}

#results-tagline {
  text-align: center;
}

#no-results-message {
  text-align: center;
}

#modal-validate {
  top: 450px;
}
